
.line1{
    font-size:150px;
    text-align:center;
    position: absolute;
    width: 100%;
}
.line234{
    border-style: outset;
    border-color:#a0ccf0;
	position: absolute;
    top: 220px;
    left: 50%;
    height: 510px;
    width: 800px;  margin-left: -410px;
    background-color: cornflowerblue;
    padding: 25px;
}

.line2{
    font-size:120px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    text-align:center;
    margin-bottom: -20px;
}

.line3{
    font-size:50px;
    color: #ffffff;
    text-align:center;
    width: 100%;
    background-color: black;
}

.line4{
    font-size:35px;
    color: #bfd7ec;
    padding-top: 20px;
}